@import url('toolbar.scss');

html,
textarea {
	font-family: Lato, Arial, Helvetica, sans-serif;
	background-color: #000;
	color: #fff;
}

div#prompter {
	transition: transform 0.5s;

	&.hflip {
		transform: rotateY(180deg);
	}

	&.vflip {
		transform: rotateX(180deg);
	}

	position: fixed;
	top: 54px;
	left: 6px;
	right:6px;
	bottom: 6px;
	padding: 4px;

	textarea,
	div#playback {
		font-size: 48px;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		/* padding: 1000px 200px; */
		line-height: 1.8em;
		font-family: Lato, Arial, Helvetica, sans-serif;
		overflow-y: scroll;

		span.matched {
			color: #999;
			// outline: 1px dashed #f00;
		}

		span.guessed {
			color: #ccc;
			// outline: 1px dashed #00f;
		}
	}

	textarea {
		display: block;
	}

	div#playback {
		display: none;
	}

	hr {
		position: absolute;
		border-width: 0 0 4px 0;
		border-style: solid;
		border-color: #f00;
		left: 200px;
		right: 200px;
		top: 200px;
		padding-top: 10px;
	}
}